/**
 * Ribesg's Jenkins theme
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body, table, form, input, td, th, p, textarea, select {
    /* Apply global font */
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;

    /* Background */
    background-color: #151515;
    color: #C8C8C8;
}

.top-sticker-inner {
    background-color: #002000;
    color: whitesmoke;
}

a,
a:link,
a:visited,
#breadcrumbs li a,
#breadcrumbs li a:link,
#breadcrumbs li a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    color: lightgreen;
}
