/* Open Sans font */
@import url('http://fonts.googleapis.com/css?family=Open+Sans')

/**
 * Ribesg's Jenkins theme
 */

/***************
 ** Variables **
 ***************/
$background1 = #000000
$background2 = #151515
$background3 = #202020
$background4 = #303030

/***********************
 ** General overrides **
 ***********************/

*
  box-sizing border-box

body, table, form, input, td, th, p, textarea, select
  /* Apply global font */
  font-family 'Open Sans', sans-serif !important
  font-size 14px

  /* Background */
  background-color $background1
  color #C8C8C8

.top-sticker-inner
  background-color $background2

#main-table + table
  display none

div[style="float:right; background-color:white; z-index: 1; position:relative; margin-left: 1em"]
  background-color $background1 !important

td.pane-header
.bigtable th
#viewList td.inactive:hover
#viewList td.active
  background-color $background3

#viewList
  td:first-child
    border-top-left-radius 10px
  td:last-child
    border-top-right-radius 10px

table.sortable a.sortheader
table.sortable span.sortarrow
#viewList td.inactive a
#viewList td.active a
.yui-skin-sam .yuimenuitemlabel
  color #00C000

.bigtable tr
#viewList td.active
#viewList td.inactive
table.pane
th.pane
td.pane
.yui-skin-sam .yuimenu ul
  border solid 1px #008000

table.pane > tbody > tr > td:last-child
  border-right solid 1px #008000

#viewList td.filler
  border-bottom solid 1px #008000

.ygtvlabel
.ygtvlabel:link
.ygtvlabel:visited
.ygtvlabel:hover
  background-color $background2 !important
  color #00C000

#jenkins .yuimenu .bd
  box-shadow none

.yui-skin-sam .yuimenu .bd
.yui-skin-sam .yuimenuitemlabel
.yuimenuitem-selected
.yuimenuitem-hassubmenu-selected
  background-color $background2 !important

#jenkins .yui-button.primary button
  background-color $background3
  color #00C000
  border-color #008000

#jenkins .yui-button.primary button:hover
#jenkins .yui-button.primary .hover
  background-color $background4
  border-color #008000

/***********
 ** Links **
 ***********/
a
#breadcrumbs li a
  &:link
  &:visited
    text-decoration none !important
    transition color .1s

/* All links */
a
  &:link
  &:visited
    color #00A000
    transition color .25s

  &:hover
    color #00FF00

/* Breadcrumb */
#breadcrumbs li
  a
    &:link
    &:visited
      color #00FF00 !important

    &:hover
      color #FFFFFF !important

  .children
  .separator
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/menu_right_arrow2.png) !important

#breadcrumb-menu-target *
  background-color $background3 !important
  color #00C000 !important

/* Task list */
.task
  height 35px
  line-height 35px
  font-size 16px
  transition background-color .25s

  &:hover
    background-color $background3

  a
    &:link
    &:visited
      display inline-block
      height 24px

    &:not(:first-child)
      position relative
      height 100%
      width 100%
      line-height 24px
      margin-left -28px
      padding-left 30px

/************
 ** Images **
 ************/
/* Icons are from http://www.flaticon.com/ */

/* Set old image size to 0 and set padding to new image size */

img[width="48"]
img[height="48"]
  &[src$="images/48x48/folder.png"]
  &[src$="images/48x48/package.png"]
  &[src$="images/48x48/notepad.png"]
  &[src$="images/48x48/orange-square.png"]
  &[src$="plugin/git/icons/git-48x48.png"]
  &[src$="images/48x48/star.gif"]
  &[src$="images/48x48/setting.png"]
    width 0
    height 0
    padding-right 48px
    padding-bottom 48px
    background no-repeat center center
    background-size contain

img[width="24"]
img[height="24"]
  &[src$="images/24x24/new-package.png"]
  &[src$="images/24x24/up.png"]
  &[src$="images/24x24/search.png"]
  &[src$="images/24x24/notepad.png"]
  &[src$="images/24x24/folder.png"]
  &[src$="images/24x24/clock.png"]
  &[src$="images/24x24/edit-delete.png"]
  &[src$="images/24x24/setting.png"]
  &[src$="plugin/github/logov3.png"]
  &[src$="images/24x24/graph.gif"]
  &[src$="plugin/jobConfigHistory/img/confighistory.png"]
  &[src$="plugin/embeddable-build-status/images/24x24/shield.png"]
  &[src$="images/24x24/next.png"]
  &[src$="images/24x24/clipboard.png"]
  &[src$="images/24x24/user.png"]
  &[src$="images/24x24/gear.png"]
  &[src$="images/24x24/fingerprint.png"]
  &[src$="images/24x24/terminal.png"]
  &[src$="plugin/credentials/images/48x48/credentials.png"]
  &[src$="plugin/git/icons/git-32x32.png"]
  &[src$="images/24x24/save.gif"]
  &[src$="images/24x24/notepad.gif"]
    width 0
    height 0
    padding-right 24px
    padding-bottom 24px
    background no-repeat center center
    background-size contain

img[width="16"]
img[height="16"]
img.icon16x16
  &[src$="images/16x16/notepad.png"]
  &[src$="images/atom.gif"]
  &[src$="plugin/buildtriggerbadge/images/github-push-cause.png"]
  &[src$="images/16x16/collapse.png"]
  &[src$="images/16x16/expand.png"]
  &[src$="images/16x16/stop.png"]
    width 0
    height 0
    padding-right 16px
    padding-bottom 16px
    background no-repeat center center
    background-size contain

/***************
 ** Task list **
 ***************/

img[width="24"]
img[height="24"]
  /* New Item icon */
  &[src$="images/24x24/new-package.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/new-package.png)

  /* Back icon */
  &[src$="images/24x24/up.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/up.png)

  /* Job State icon */
  &[src$="images/24x24/search.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/search.png)

  /* Job Changes icon */
  &[src$="images/24x24/notepad.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/notepad.png)

  /* Job Working Repository icon */
  &[src$="images/24x24/folder.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/folder.png)

  /* Job Build icon */
  &[src$="images/24x24/clock.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/clock.png)

  /* Job Delete icon */
  &[src$="images/24x24/edit-delete.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/edit-delete.png)

  /* Job Config icon */
  &[src$="images/24x24/setting.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/setting.png)

  /* Job Github icon */
  &[src$="plugin/github/logov3.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/github.png)

  /* Job Dependency Graph icon */
  &[src$="images/24x24/graph.gif"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/graph.png)

  /* Job Configuration History icon */
  &[src$="plugin/jobConfigHistory/img/confighistory.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/confighistory.png)

  /* Job Embeddable Build Status icon */
  &[src$="plugin/embeddable-build-status/images/24x24/shield.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/shield.png)

  /* Job Next Build Number icon */
  &[src$="images/24x24/next.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/next.png)

  /* Job Github Hook Log icon */
  &[src$="images/24x24/clipboard.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/clipboard.png)

  /* Users icon */
  &[src$="images/24x24/user.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/user.png)

  /* Edit View icon */
  &[src$="images/24x24/gear.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/gear.png)

  /* Fingerprint icon */
  &[src$="images/24x24/fingerprint.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/fingerprint.png)

  /* Terminal icon */
  &[src$="images/24x24/terminal.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/terminal.png)

  /* Credentials icon */
  &[src$="plugin/credentials/images/48x48/credentials.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/credentials.png)

  /* Git Build Data icon */
  &[src$="plugin/git/icons/git-32x32.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/git-g.png)

  /* Save icon */
  &[src$="images/24x24/save.gif"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/save.png)

  /* Changes icon */
  &[src$="images/24x24/notepad.gif"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/notepad.png)

/************
 ** Others **
 ************/

img[width="48"]
img[height="48"]
  /* Main Workspace Repository icon */
  &[src$="images/48x48/folder.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/folder.png)

  /* Main Artifacts icon */
  &[src$="images/48x48/package.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/package.png)

  /* Main Changes icon */
  &[src$="images/48x48/notepad.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/notepad.png)

  /* Started By icon */
  &[src$="images/48x48/orange-square.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/build-starter.png)

  /* Git icon */
  &[src$="plugin/git/icons/git-48x48.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/git.png)

  /* Star icon */
  &[src$="images/48x48/star.gif"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/star.png)

  /* Setting icon */
  &[src$="images/48x48/setting.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/setting.png)

img[width="16"]
img[height="16"]
img.icon16x16
  /* Modify Description icon */
  &[src$="images/16x16/notepad.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/notepad.png)

  /* RSS icon */
  &[src$="images/atom.gif"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/rss.png)

  /* Github Build Cause icon */
  &[src$="plugin/buildtriggerbadge/images/github-push-cause.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/github.png)

  /* Stop job icon */
  &[src$="images/16x16/stop.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/edit-delete.png)

  &[src$="images/16x16/collapse.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/collapse.png)

  &[src$="images/16x16/expand.png"]
    background-image url(/job/JenkRib-theme/lastSuccessfulBuild/artifact/images/expand.png)